.head {
    background-color: #ffe2b0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.nav > ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav > ul > li {
    display: inline;
    margin-left: 100px;
}

#li1 {
    margin: 0
}

.nav > ul > li > a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 18px;
}

.back {
    display: flex;
    justify-content: center;
}

.g {
width: 1440px;
}

.gradient {
    position: absolute;
    left: 765px;
    bottom: -160px;
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(255, 255, 255, 0) 50%);
    background-color: rgba(232, 170, 93, 0.850);
}

.border {
    border: 2px;
    border-style: solid;
    width: 390px;
    height: 160px;
    margin: 13px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.border > h1 {
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding: 0 10px;
}

.border > p {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: -25px;
    padding: 0 10px;
}

.body {
    background-color: #ffe2b0;
}

.pics {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 20px 200px;
}

#pic1 {
    width: 290px;
}

#pic2 {
    width: 290px;
}

#pic3 {
    width: 290px;
}

.text{
    margin: -60px;
}


.text > h1 {
    font-size: 96px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
}

.text > p {
    margin-left: 250px;
    margin-right: 250px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -55px;
}

#zakaz {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
}

#eto {
    color: #f15b40;
    margin-right: 25px;
    margin-left: 25px;
}

.map {
    margin-left: 310px;
    margin-top: 70px;
}

.line {
    width: 1024px;
    height: 1px;
    background-color: #999999;
    margin: 20px auto;
}

.nav2 > ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav2 > ul > li {
    display: inline;
    margin-left: 100px;
}

#li2 {
    margin: 0
}

.nav2 > ul > li > a {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 18px;
}

.cont2 {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

#hamburger{
    background-image: url("Images/free-icon-menu-4254068\ \(1\).png");
        width: 128px;
        height: 128px;
        margin-bottom: 20px;
}